body {
  background-color: #454545;
  padding: 50px;
  font: 25px Tahoma, sans-serif;
}

a {
  color: #00B7FF;
}

p {
  margin: auto;
  width: 30%;
  border: 3px solid #bb4a4a;
  padding: 10px;
  color: whitesmoke;
  font-size: 35px;
}
